div.other {
    display: flex;
    flex-direction: row;
}

div.other div input {
    height: 24px !important
}

div.reviewCard div div div div.tr:last-child {
    border-bottom: 0px solid rgb(224, 224, 224);
}