html * {
   font-family: 'Source Sans Pro', 'Open Sans', sans-serif !important;
}

.npm-generator div.other {
    display: flex;
    flex-direction: row;
}

.npm-generatordiv.other div input {
    height: 24px !important
}

.npm-generator div.reviewCard div div div div.tr:last-child {
    border-bottom: 0px solid rgb(224, 224, 224);
}

.npm-generator div.questionTitleText {
  font-size: 1.4em;
  font-weight: normal;
  padding: 15px 0px 0px 0px;
}

.npm-generator div.cardPadding{
  padding: 0px 2em 1em 2em;
}

.npm-generator .grad {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#228ed5+0,0ebacf+100 */
	background: #228ed5; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #228ed5 0%, #0ebacf 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #228ed5 0%,#0ebacf 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #228ed5 0%,#0ebacf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#228ed5', endColorstr='#0ebacf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.npm-generator .notice-title, .npm-generator .intro-title {
    font-weight: lighter;
    text-align: center;
    margin: auto;
    padding-top:50px;
    padding-bottom: 25px
}

.npm-generator .notice-title {
    font-size: 1.5em;
}
.npm-generator .question-group-title {
    color: white;
    font-size: 1.5em;
    font-weight: normal;
    background: #228ed5; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #228ed5 0%, #0ebacf 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #228ed5 0%,#0ebacf 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #228ed5 0%,#0ebacf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#228ed5', endColorstr='#0ebacf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 30px;
    text-align: center;
    margin:20px 0px 0px 0px;
}

.npm-generator div.other {
    display: flex;
    flex-direction: row;
}

.npm-generator div.other div input {
    height: 24px !important
}

.npm-generator div.reviewCard div div div div.tr:last-child {
    border-bottom: 0px solid rgb(224, 224, 224);
}

.npm-generator .intro-secondary-title {
    font-size: 1.5em;
    line-height: 1.4em;
}

.npm-generator .step-button > div > span {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.npm-generator .step-button > div > span > span {
    padding-top: 5px;
    padding-right: 0px !important;
}

footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: rgb(0, 188, 212);
}
footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 5px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.8);
}
