html * {
   font-family: 'Source Sans Pro', 'Open Sans', sans-serif !important;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

#mpn-notice .question-block {
    display: flex;
    align-items: center;
    padding: 0.5em 2em;
}

#mpn-notice .question-prompt,
#mpn-notice .question-answers {
    width: 50%;
}

#mpn-notice .question-prompt {
    padding-right: 3%;
    padding-left: 12%;
    font-weight: 300;
    line-height: 1.5em;
    font-size: 18px;
}

#mpn-notice .question-answers {
    padding-left: 3%;
    padding-right: 12%;
    font-size: 18px;
    font-weight: normal;
}

#mpn-notice .question-answers > ul {
    padding-left: 20px;
    font-size: 18px;
    font-weight: normal;
}

#mpn-notice .question-answers li {
    padding: 0.4em 0;
    font-size: 18px;
    font-weight: normal;
}

#mpn-notice .intro {
    background-color: #0f2429;
    padding: 3em 10em;
}

#mpn-notice .notice-title {
    font-size: 2.2em;
    color: #46cbcb;
    text-transform: uppercase;
    font-weight: normal;
}

#mpn-notice .intro > h2 {
    font-size: 1.5em;
    padding: 1.5em 0em;
    color: #FFFFFF;
    font-weight: normal;
}

#mpn-notice .intro > h4 {
    font-size: 1em;
    color: #FFFFFF;
    font-weight: lighter;
}

#mpn-notice section > h1 {
    background-color: #99dccf;
    color: #FFF;
    padding: 1.5em 10em;
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.5em;
}

#mpn-notice .footer {
    background-color: #0f2429;
    padding: 2em;
}

#mpn-notice .footer h1 {
    text-transform: uppercase;
    color: #FFF;
    font-weight: 300;
    margin: 1em 0;
    font-size: 1.5em;
}

#mpn-notice .footer h3 {
    color: #FFF;
    font-weight: 300;
    margin: 0.5em 0;
    font-size: 1em;
}

#mpn-notice .footer > div {
    width: 30%;
    margin: 0 auto;
}