<html>
<head>
  <title>Nic Nac NPM Generator</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons|Roboto:300,400,500">
  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel="stylesheet" type="text/css" href="markdown.css">
  <link rel="stylesheet" type="text/css" href="notice.css">
</head>
  <body>

  <div id="js-main"></div>

  <%- body %>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <% if (env.production) { %>
    <script async src="<%= env.assets.main.js %>"></script>
  <% } else { %>
    <script src="http://localhost:3000/client/main.js"></script>
  <% } %>
  </body>
</html>
